# List of Python packages required by your Ansible module
# Each line specifies a package and optionally its version
# Format: package_name==version_number or package_name>=version_number

ansible
ansible-lint
molecule
testinfra

requests
PyYAML
cryptography
netaddr
